!#include ".colors/sourcerer_mod"
#include ".colors/self_light"
!#include ".colors/contrast_need"
URxvt*termName: rxvt-unicode
URxvt*title:    FSociety

URxvt*cursorBlink:  true

URxvt.intensityStyles: true
URxvt.scrollBar: false
URxvt.iso14755: true
URxvt.iso14755_52: true
URxvt*utf-8: 1
URxvt*imLocale: es_ES.utf-8

URxvt*font: xft:Droid\ Sans\ Mono:regular:size=9:antialias=true:hinting=true
!URxvt*font: xft:terminus:regular:size=10:antialias=true:hinting=true

URxvt.internalBorder: 5
URxvt.letterSpace: -1
URxvt.shading:		15

Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

URxvt.perl-ext-common: default,matcher,clipboard,keyboard-select,url-select
URxvt.url-launcher: /usr/bin/surf
URxvt.urlButton: 1
URxvt.underlineURLs: True

URxvt.clipboard.autocopy: true
URxvt.clipboard.copycmd: xclip -in -selection clipboard
URxvt.clipboard.pastecmd: xclip -o -selection clipboard

! Keybindings
URxvt.keysym.Mod4-c: perl:clipboard:copy
URxvt.keysym.Mod4-v: perl:clipboard:paste
URxvt.keysym.Mod4-C-v: perl:clipboard:paste_escaped
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste
URxvt.keysym.M-C-v: perl:clipboard:paste_escaped
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.C-Escape: perl:keyboard-select:activate
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-select.launcher: surf
URxvt.url-select.video: mpv
URxvt.url-select.button: 1
